.website{
    background-color: #245076;
    margin: 0px auto;
    width: 1000px;
}

.header{
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.search{
    box-shadow: black 2px 2px;
    display: flex;
    justify-content: space-around;
    outline: 20px solid #444444;
    margin-right: 40px;
    background-color: #444444;
}


button{
    background-color: #245076;
    color: white;
}

h4{
    color: white;
}
h4 a{
    color: yellow;
}

nav{
    display: flex;
    width: 890px;
    height: 50px;
    background-color: #417bad;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 10px;
    align-items: center;
}

nav h4 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
aside{
    margin-left: 40px;
    margin-top: 15px;
    text-align: center;
}
aside h3{
    color: yellow;
}
aside h3 a{
    color: white;
    text-align: center;
}
.main-body{
    display: flex;
    justify-content:space-around;
   
}
article{
    text-align: center;
}
article h3{
    color: #fbd12f;
    font-style: italic;
}
article p{
    color: white;
}
#change{
    color: white;
    font-style: normal;
}
section{
    display: flex;
    justify-content: space-around;
    background-color: white;
    text-align: center;
}
section ul li{
    list-style-type: square;
}
ul li a{
    color: #8fb9de;
}

#bottom{
    color: #bad4ea;
    text-decoration: none;
}

footer{
    background-color: linear-gradient(#25537a,#26557f, #306c9f);
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center; 
}

footer h4{
    list-style: none;
    color: #5c91c0;
    font-size: 20px;
}
.footer-part{
    font-size: 12px;
    color: #5c91c0;
    margin-left: 450px;
    padding-bottom: 5px;
}

.line-1{
    background-color: #73a7d5;
    height: 5px;
    width: 420px;   
}

.line{
    display: flex;
    justify-content: space-around;
    margin-top: 11px;
    background-color: white;
    padding-top: 20px;
}