table,tr,td,th{
    border: 1px solid black;
}

table{
    /* margin-bottom: 20px; */
    margin-left: 365px;
    width: 660px;
}

form{
    border: 2px solid black;
    width: 500px;
    height: 187px;
    margin-left: 56px;
}

main{
    width: 600px;
    border: solid 2px black;
    height: 400px;
    margin-left: 360px;
}

.butStyle{
    display: flex;
    justify-content: space-evenly;
}

.dlbut{
    border: 1px solid black;
    background: red;
    width: 60px;
    text-decoration: none;
    color: black;
    /* margin-left: 280px; */
}

.subbt {
    width: 60px;
    background: yellow;
}
