<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{number}} times</p>
    <form action="/adding" method="post">
        <p><button type="submit" name="adding">+2 adding</button></p>
        </form>
        <form action="/reset" method="post">
        <p><button type="submit" name="reset">reset</button></p>
        </form>
</body>
</html>