<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        table,tr,td,th{
            border: 1px solid black;
        }

        table{
            margin-bottom: 20px;
            width: 660px;
        }
    </style>
</head>

<body>
    <h2>All Shows</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            {% for show in show %}
            <tr>
                <td>{{show.id}}</td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td>{{show.desc}}</td>
                <td><a href="http://127.0.0.1:8000/{{show.id}}"> Show</a>|
                    <a href="http://127.0.0.1:8000/{{show.id}}/edit">Edit</a> |
                    <a href="http://127.0.0.1:8000/remove/{{show.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
            <a href="http://127.0.0.1:8000/new">Add a New Show</a>
</body>
</html>