<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>time_display</title>
</head>
<style>

    .box-2{
    border: 2px solid black;
    height: 125px;
    font-size: 35px;
    width: 560px;
    margin-top: 20px;
    text-align: center;
    
}
    
    .box-1{
        border: 2px solid black;
        height: 50px;
        font-weight: bold;
        width: 200px;
        margin-left: 180px;
        text-align: center;
    }
</style>
<body>
    <div class="box-1"> 
    <p>The current time and date</p>
</div>
<div class="box-2">
    <p>{{time}}</p>
</div>
</body>
</html>